
.cart-page {
    padding: 20px;
    background: linear-gradient(135deg, #1f1c2c, #00eaff); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart-header {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px;
  }
  
  
  .cart-items {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .cart-item-details {
    flex: 1;
    margin-left: 15px;
    color: #ffffff;
  }
  
  .cart-item-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .cart-item-price {
    font-size: 1rem;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity-button {
    background-color: #00eaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quantity-button:hover {
    background-color: #1f1c2c;
  }
  
  .cart-item-total {
    font-size: 1.2rem;
    color: #ffffff;
  }
  
  .cart-total {
    text-align: right;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .cart-checkout-button {
    background-color: #00eaff;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .cart-checkout-button:hover {
    background-color: #1f1c2c;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  }
  
  .cart-empty-message {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }
  ion-progress-bar {
    --progress-background: #0762da; 
    --progress-value: linear-gradient(90deg, #00d2ff, #3a7bd5); 
    height: 8px;
  }
  