<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/login">Login</ion-item>
        <ion-item routerLink="/register">Registro</ion-item>
        <ion-item routerLink="/forgot-password">Olvidé mi contraseña</ion-item>
        <ion-item routerLink="/profile">Perfil</ion-item>
        <ion-item (click)="logout()">Cerrar Sesión</ion-item>
        <ion-button routerLink="/invoices-history">Ver Historial de Boletas</ion-button>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
