<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-fullscreen">
    <img src="assets/grafica/logo3.png" alt="Logo" class="login-logo">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" placeholder="Ingresa tu email"></ion-input>
    </ion-item>


    <ion-button expand="full" (click)="resetPassword()">Restablecer Contraseña</ion-button>

    <ion-button expand="full" color="light" routerLink="/login">Volver al Login</ion-button>
  </div>
</ion-content>
